.app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-toggle-bar {
  display: flex;
  align-items:flex-start;
}

.app-toggle-bar-exam {
  padding: 10px;
}

.app-toggle-bar-exam:hover {
  background-color: var(--exam-background-light-color);
  cursor: pointer;
}

.app-toggle-bar-exam-selected {
  background-color: var(--exam-background-color);
}

.app-exams {
  width: 500px;
  background-color: var(--exam-background-color);
  padding: 20px;
  /* border: 2px solid blue; */
}