:root {
  --main-background-color: rgb(133, 155, 216);
  --button-color: rgb(30, 71, 184);
  --exam-background-color: rgb(97, 158, 194);
  --exam-background-light-color: rgb(143, 187, 212);
}

body {
  background-color: var(--main-background-color);
  color: rgb(0, 0, 0);

}